.banner {
  background-image: linear-gradient(
    to top right,
    rgb(73, 73, 236),
    rgb(223, 22, 223)
  );
  height: 200px;
  width: 1000px;
  position: relative;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}
